# Sao chép file này thành .env rồi điền URL Google Apps Script Web App
# Hướng dẫn lấy URL: xem google-sheet/README.md
VITE_SHEET_URL= https://script.google.com/macros/s/AKfycbzCB2cyhqY5_LkNugahL719vrbVlViJZCO3Jz9e3QvcMNOCdl3lTgCVjoxnawR1XGwtbQ/exec
